# List

In [1]:
list=["ankush", 350, "class", "letsupgrade"]

In [3]:
list

['ankush', 350, 'class', 'letsupgrade']

In [6]:
list.count("class")

1

In [7]:
list1=["suri", 1990]

In [8]:
list.extend(list1)

In [9]:
list1

['suri', 1990]

In [10]:
list

['ankush', 350, 'class', 'letsupgrade', 'suri', 1990]

In [11]:
list.index("ankush")

0

In [12]:
list.index("suri")

4

In [13]:
list.insert(3, "July")

In [14]:
list

['ankush', 350, 'class', 'July', 'letsupgrade', 'suri', 1990]

In [15]:
list.reverse()

In [16]:
list

[1990, 'suri', 'letsupgrade', 'July', 'class', 350, 'ankush']

# Dictionary

In [17]:
dit={"Name":"Ankush Suri", "company":"sitel", "DOB":"july", "year":2000}

In [18]:
dit

{'Name': 'Ankush Suri', 'company': 'sitel', 'DOB': 'july', 'year': 2000}

In [19]:
dit.get("company")

'sitel'

In [21]:
dit.get("month", "None")

'None'

In [22]:
dit.keys()

dict_keys(['Name', 'company', 'DOB', 'year'])

In [23]:
dit.items()

dict_items([('Name', 'Ankush Suri'), ('company', 'sitel'), ('DOB', 'july'), ('year', 2000)])

In [24]:
dit.values()

dict_values(['Ankush Suri', 'sitel', 'july', 2000])

In [26]:
dit1={"Sex":"Male"}

In [27]:
dit.update(dit1)

In [28]:
dit

{'Name': 'Ankush Suri',
 'company': 'sitel',
 'DOB': 'july',
 'year': 2000,
 'Sex': 'Male'}

# Sets

In [29]:
st={"ankush", "sitel",2,2,3,4,5,6,6,6}

In [30]:
st

{2, 3, 4, 5, 6, 'ankush', 'sitel'}

In [31]:
st1={"suri", 8,9}

In [33]:
st.add("suri")

In [34]:
st

{2, 3, 4, 5, 6, 'ankush', 'sitel', 'suri'}

In [35]:
st1.issubset(st)

False

In [39]:
st.pop()

2

In [40]:
st.clear()

In [41]:
st

set()

In [42]:
st={"ankush", "sitel",2,3,4,4}

In [44]:
st.update(st1)

In [45]:
st

{2, 3, 4, 8, 9, 'ankush', 'sitel', 'suri'}

# Tuple

In [48]:
tup1=("ankush", 2000)
tup2=("a","b","c","d")
tup3=(1,2,3,4,5)

In [51]:
tup4=tup1+tup2

In [52]:
tup4

('ankush', 2000, 'a', 'b', 'c', 'd')

In [53]:
len(tup4)

6

In [55]:
tup4.count(2000)

1

In [56]:
tup4.index("b")

3

In [58]:
min(tup3)

1

In [59]:
max(tup3)

5

# String

In [74]:
str1="Hello Letsupgrade"
str2="How are you?"

In [61]:
len(a)

17

In [75]:
str1[0:6]

'Hello '

In [76]:
str.upper(b)

'HOW ARE YOU?'

In [77]:
str2.replace("are", "is")

'How is you?'

In [78]:
str2

'How are you?'

In [80]:
str1.lower()

'hello letsupgrade'

In [81]:
len(str1)

17

In [82]:
str1.swapcase()

'hELLO lETSUPGRADE'